<!doctype HTML>
<html>
    <head>
        <title>Quests Completion Stats</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    </head>
    <body>
        <div id="app">
            <router-view></router-view>
        </div>
    </body>
    <script type="text/x-template" id="gameinfo-template">
    <div v-if="haveGameInfo">
        <table>
            <thead>
                <tr>
                    <th>Build ID</th>
                    <th>Platform</th>
                    <th>Quest Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ gameObj.globalId }}</td>
                    <td>{{ gameObj.platform }}</td>
                    <td>{{ gameObj.name }}</td>
                </tr>
            </tbody>
        </table>
        <h1>Pathways</h1>
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Path name</th>
                    <th>Leaft info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ gameObj.pathway.status }}</td>
                    <td>{{ gameObj.pathway.name }}</td>
                    <td>{{ "good" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h1 v-else="haveGameInfo">
        <img src="/img/quest-not-found.png">
    </h1>
    </script>
    <script type="text/x-template" id="main-template">
        <table>
            <thead>
                <tr>
                    <th v-for="(item, index) in rowAlias" :key="index">
                        <router-link :to="{ name: 'gameinfo', params: { item } }">
                            {{ item }}
                        </router-link>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td is="game-row"
                        v-for="(item, index) in rowStatus"
                        v-bind:src="item"
                        :key="index"
                    ></td>
                </tr>
            </tbody>
        </table>
    </script>
    <script>
    'use strict'

    Vue.component('game-row', {
        props: ['src'],
        template: `<td>
                <img :src="src">
        </td>`
    })

    const Main = {
        template: '#main-template',
        data() {
            return {
                'rowAlias':  [],
                'rowStatus': [],
            }
        },
        mounted() {
            axios.get('http://localhost:3000/main')
                .then(response => {
                    for (let game in response.data) {
                        let obj = response.data[game]
                        this['rowAlias'].push(obj.alias)
                        this['rowStatus'].push(
                            `/img/${statusImages[obj.status]}.jpg`
                        )
                    }
            })
        },
    }

    const GameInfo = {
        props: ['item'],
        data() {
            return {
                haveGameInfo: false,
                gameObj: {}
            }
        },
        template: '#gameinfo-template',
        created() {
            axios.get('http://localhost:3000/games/' + this.$props.item)
                .then(response => {
                    const gameObj = response.data[0]
                    if (!gameObj) {
                        this.haveGameInfo = false
                    } else {
                        this.haveGameInfo = true
                        this.gameObj = gameObj
                    }
                })
        }
    }

    const statusImages = {
        SUCCESS: 'success',
        CRASH: 'crash',
        NO_DATA: 'no_data'
    }

    const routes = [
        { 
            path: '/', 
            name: 'main',
            component: Main,
        },
        { 
            path: '/gameinfo', 
            name: 'gameinfo', 
            component: GameInfo,
            props: true,
        }
    ]

    const router = new VueRouter({ routes })

    var app = new Vue( {
        router
    } ).$mount('#app')

    </script>
</html>