<!doctype HTML>
<html>
    <head>
        <title>Quests Completion Stats</title>
    </head>
    <body>
        <div id="app">
            <table>
                <thead>
                    <tr>
                        <th v-for="(item, index) in rowAlias" :key="index">{{ item }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <game-row 
                            v-for="(item, index) in rowStatus"
                            v-bind:src="item"
                            :key="index"
                        ></game-row>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    </body>
    <script>

    var statusImages = {
        SUCCESS: 'success',
        CRASH: 'crash',
        NO_DATA: 'no_data'
    }
    Vue.component('game-row', {
        props: ['src'],
        template: `<td>
            <img :src="src">
        </td>`
    })

    var app = new Vue({
        el: '#app',
        data() {
            return {
                'rowAlias': [],
                'rowStatus': [],
            }
        },
        mounted() {
            axios.get('http://localhost:3000/main')
                .then(response => {
                    for (let game in response.data) {
                        let obj = response.data[game]
                        this['rowAlias'].push(obj.alias)
                        this['rowStatus'].push(
                            getFullPath( statusImages[obj.status] )
                        )
                    }
            })
            function getFullPath(name) {
                return `/img/${name}.jpg`
            }
        }
    })


    
    </script>
</html>